<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esmeralda.kyklosbotmovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KYKLOS_FINAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashTheme">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".cupones" />
        <activity android:name=".misCupones" />
        <activity android:name=".historialPuntosObtenidos" />
        <activity android:name=".historialPuntosCanjeados" />
        <activity
            android:name=".Registro"
            android:label="REGISTRATE" />
        <activity
            android:name=".Ubicacion"
            android:label="Map" />
        <activity
            android:name=".LectorQR"
            android:noHistory="true" />
        <activity android:name=".Perfil" />
        <activity
            android:name=".EditarPerfil"
            android:parentActivityName=".Perfil" />
        <activity android:name=".Loading" />
        <activity android:name=".LectorQRespuesta" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBS1Ay_LSabB9IOx6oqBJ7SBAb9WaD5PFk" />

        <activity android:name=".howTo" />
        <activity
            android:name=".Informacion"
            android:label="@string/title_activity_informacion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>